// app global css in SCSS form

// color palette
// #071015
// #0B161C
// #075E54
// #202C33
// #051F1C

* {
  font-size: 13px;
}

body {
  background: var(--body-background);
}

@media (max-width: 800px) {
  * {
    font-size: 10px;
  }
}

:root {
  --panel-header-background: #202c33;
  --border-contact: rgba(134, 150, 160, 0.15);
  --primary-color: #d1d7db;
  --my-message-color: #075e54;
  --my-first-btn-color: #075e54;
  --other-message-color: #313d44;
  --time-stamp: #182229;
  --container-background: #070d12;
  --body-background: #070d12;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
